@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("\wallhaven-p9p2dm_3840x2160.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
